@model ReaderDetail
@{
    ViewData["Title"] = Model.FirstName;
}

<h1> Hi, @Model.FirstName </h1>
<h2> Your account details: </h2>
<hr>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayNameFor(model => model.Email)
    </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UserName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayNameFor(model => model.UserName)
    </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayNameFor(model => model.FirstName)
    </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayNameFor(model => model.LastName)
    </dd>
</dl>